<div class="admin-delete">
    <h3 style="text-align: center;">Delete {{vm.title}}</h3>
    <div class="container-fluid">
        <input ng-model="vm.searchStr" type="text" class="form-control" placeholder="Name of {{vm.title}}"
            aria-label="Search" aria-describedby="button-addon2">
        <div class="list-group">
            <input id="admin-check-all" type="checkbox" ng-click="selectAll()" />
            <label style="cursor: pointer;" class="list-group-item" ng-repeat="entity in vm.entities | filter:vm.searchStr">
                <input class="admin-check" type="checkbox" ng-checked="vm.selectedEntities.indexOf(entity) > -1" ng-click="vm.toggleSelection(entity)">
                <span ng-show="vm.showName">{{entity.name}}</span>
                <span ng-show="vm.showPostcode">{{entity.postcode}}</span>
            </label>
        </div>
    </div>
</div>
<button ng-click="vm.deleteSelectedEntities()" class="btn btn-lg btn-danger">Delete</button>
</div>
