<!-- https://getbootstrap.com/docs/4.0/utilities/spacing/ -->
<!-- mt = margin top,  - = syntax,  3 = middle value in range of sizes which equals the value of $spacer. -->
<div class="input-group mt-3">
    <input ng-keypress="vm.handleEvent($event)" ng-model="vm.searchStr" type="text" class="form-control" placeholder="{{vm.placeholderText}}">
    <div class="input-group-append">
        <button ng-disabled="vm.searching" ng-click="vm.searchFunc(vm.searchStr)" class="btn btn-dark" type="button">
            <span ng-show="vm.searching" class="spinner-grow spinner-grow-sm text-light" role="status"></span>
            Search
        </button>
    </div>
</div>