<div style="width: 300px; height: 200px; position: absolute; top: 50vh; left: 50vw; transform: translate(-50%, -50%);">
  <button ng-click="vm.goAdminSpecies()" style="background: none; border: none; background-color: #333333; color: white; width: 300px; height: 100px; font-size: 2em; margin-bottom:10px">Administer Logged Species</button>
  <button ng-click="vm.goAdminSightings()" style="background: none; border: none; background-color: #333333; color: white; width: 300px; height: 100px; font-size: 2em;">Administer Logged Sightings</button>
</div>