<uiview>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" ng-click="vm.goHome()" style="color: #fff">Wild Logging</a>
    
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" ng-click="vm.goHome()">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-click="vm.goLogin()">Login </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" ng-click="vm.goAbout()">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" ng-click="vm.goSearch()">Map</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="about">
    <h3>Privacy Statement</h3>
    <p>No user-identifiable data is acquired by this application.</p>
    <p>© DigitalLabs, 2017-2018</p>
    <h3>Welfare Statement</h3>
    <p>No <i>actual</i> species were identified during the development of this application.</p>
  </div>
</uiview>